{{ template "base" . }}

{{ define "content" }}
  
  <img src="/static/images/cover-about.png" alt="" class="img-fluid">

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="fw-bold" style="font-size: 50px;">About Us</h1>
        <img src="/static/images/Star.png" alt="" height="40px" class="mb-4">
        <p>
          With a stay at Skyline Hotel in Bogor City, you'll be just 5 minutes from Bogor Station. This 5-star hotel is 
          located in the heart of Bogor's Central Business District. Make yourself at home in one of the 260 rooms equipped 
          with a minibar and views of Bogor City from the corner. Complimentary wireless Internet access up to 250 Mbps keeps 
          you connected, and satellite programming is available for your entertainment. Private bathroom with deep soaking tub 
          and separate shower . Free toiletries and hairdryer. Conveniences include phones, as well as safes and desks. Pamper 
          yourself with massages and facials on site. Guests can take vehicles to nearby destinations with a complimentary area 
          shuttle. Enjoy international-class cuisine with fine dining at Skyline Restaurant & Lounge or stay in your room and 
          take advantage of the 24-hour room service.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="fw-bold mb-5" style="font-size: 50px;">Facilities</h1>
        <img src="/static/images/facilities.png" alt="" height="130px">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="fw-bold my-5" style="font-size: 50px;">Contact</h1>
      </div>
      <div class="row align-items-center">
        <div class="col text-center">
          <p>Owner : RPL. Group 3 </p>
        </div>
        <div class="col">
          <p>
            Alamat    : Jalan Angkasa No. 1 - 10 Bandung Jawa Barat 37729 Indonesia <br>
            Email     : reservation@skylinehotel.com <br>
            Instagram : Skyline Hotel <br>
            WhatsApp  : 0873822736484
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}