{{ template "base" . }}

{{ define "content" }}


<img src="/static/images/cover-image.png" alt="" class="img-fluid">

<section class="description my-4">
    <div class="container">
        <div class="row text-center">
            <div class="col align-self-center">
                <img src="/static/images/skyline.png" alt="" class="text-center" width="500">
                <p>
                    Towering above the heart of Bogor’s Central Business District, Skyline Hotel, is the luxurious five-star business hotel build with a vision to provide five-star service to the
                    discerning guest. Just 5 minutes from Bogor Station, our hotel is suitable for both business and leisure with a blend of culture, luxurious interior design, tropical views and
                    modern comforts. We want to be the perfect accommodation choice for you in Bogor. Come stay with us!</p>
            </div>
        </div>
    </div>
</section>

<section class="section-left my-5" id="president">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>President Suite</h1>
                <!-- Bintang 5 -->
                <p>The President Suite offers two bedrooms with a separate lounge area, dining area and stunning bathroom with views of the rain city skyline and a deep soaking bathtub with separate shower.</p>
                <p>270 square meters of space</p>
                <p>Located on 20th floor</p>
                    <!-- Button -->
                    <a href="/room/president" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">More Info</a>
            </div>
            <div class="col-sm-7">
                <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/static/images/room1.jpeg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/room2.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/room3.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Section 2-->
<section class="section-right my-5" id="royal">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div id="carouselExampleDark1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/static/images/room1.jpeg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/room2.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/room3.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-5">
                <h1>Royal Suite</h1>
                <!-- Bintang 5 -->
                <p>The Royal Suite is designed with royal interiors offering a king size bedroom with a separate lounge area, dining area and a stunning bathroom with views of the rainy city skyline and a deep soaking bathtub with separate shower.</p>
                <p>150 square meters of space</p>
                <p>Located on 18th and 19th floor</p>
                <!-- Button -->
                <a href="/room/royal" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">More Info</a>
            </div>
        </div>
    </div>
</section>
<!-- End Content Section 2-->

<!-- Content Section 3-->
<section class="section-left my-5" id="tower">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>Tower Club Suite</h1>
                <!-- Bintang 5 -->
                <p>Located on the corner of the highest floor, the Tower Club Suite offers 180-degree views of Bogor City. With king size bedroom, separate lounge area, and a stunning bathroom with views of the rainy city skyline and a deep soaking bathtub with separate shower.</p>
                <p>100 square meters of space</p>
                <p>Located on 20th floor</p>
                <!-- Button -->
                <a href="/room/tower-club" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">More Info</a>
            </div>
            <div class="col-sm-7">
                <div id="carouselExampleDark2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/static/images/room1.jpeg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/room2.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/room3.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content Section 3-->

<!-- Content Section 4-->
<section class="section-right my-5" id="grand">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div id="carouselExampleDark3" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/static/images/room1.jpeg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/room2.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/room3.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-5">
                <h1>Grand Deluxe</h1>
                <!-- Bintang 5 -->
                
                <p>With an area of ​​80 square meters, the Grand Deluxe Room offers a queen size bed with extra comfort and a stunning bathroom with views of the rainy city skyline and a deep soaking bathtub with separate shower.</p>
                <p> 80 square meters of space</p>
                <p>Located on 13th to 17th floor</p>
                <!-- Button -->
                <a href="/room/grand-deluxe" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">More Info</a>
            </div>
        </div>
    </div>
</section>
<!-- End Content Section 4-->

<!-- Content Section 5-->
<section class="section-left my-5" id="deluxe">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>Deluxe</h1>
                <!-- Bintang 5 -->
            
                <p>With an area of ​​60 square meters with elegant design, the Deluxe Room offers a queen size bed with extra comfort and a stunning bathroom with views of the rainy city skyline and a deep soaking bathtub with separate shower.</p>
                <p>60 square meters of space</p>
                <p>Located on 5th to 12th floor</p>
                <!-- Button -->
                <a href="/room/deluxe" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">More Info</a>
            </div>
            <div class="col-sm-7">
                <div id="carouselExampleDark4" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/static/images/room1.jpeg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/room2.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/room3.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 350px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content Section 5-->

{{ end }}