{{ template "base" . }}

{{ define "content" }}

    {{ $reservation := index .Data "reservation" }}
    {{ $startDate := index .StringMap "start_date" }}
    {{ $endDate := index .StringMap "end_date" }}

    <img src="/static/images/booking-summary.png" alt="" class="img-fluid">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Reservation Success!</h1>
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Nama:</td>
                            <td>{{ $reservation.Name }}</td>
                        </tr>
                        <tr>
                            <td>Kamar:</td>
                            <td>{{ $reservation.Room.RoomName }}</td>
                        </tr>
                        <tr>
                            <td>Arrival:</td>
                            <td>{{ $startDate }}</td>
                        </tr>
                        <tr>
                            <td>Departure:</td>
                            <td>{{ $endDate }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ $reservation.Email }}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{ $reservation.Phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/" class="btn btn-warning" style="background-color: #edd99c;">Browse more</a>
            </div>
        </div>
    </div>

{{ end }}